<div class="selectBox">
	<div class="itemList scrollContainer"></div>
	<div class="selectedItem disabled">
		<span class="text"><%= this.text %></span>
		<div class="spinContainer">
			<span class="spin loader"></span>
		</div>
	</div>
</div>
